html{background-color:blanchedalmond;}
h1{color: indianred;text-align: center;}
h2{font-weight: normal;}
#red{color: red;}
#blue{color: blue;}
#orange{color: orange;}
#green{color: green;}
#yellow{color: yellow;}
img{width: 200px;height: 200px;}
a{text-decoration-line: none; color: black;}



